{% extends 'base/base.html' %}
{% block content %}

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Avís legal</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#">Avís Legal</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <!--h2 class="errortitle aligncenter">Avís legal</h2>
            <p class="aligncenter">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, dignissimos neque explicabo illum reiciendis velit doloribus earum perferendis officiis a itaque ullam illo porro eos veniam nemo natus qui nam ab. Quos tempore est unde sit nemo, itaque, inventore architecto quae quas modi molestias cum quidem, harum. Beatae accusantium doloremque, magnam accusamus dolorem obcaecati maxime eum, quae quia, similique pariatur harum nemo ullam. Perferendis modi quia, autem ab voluptate corrupti neque iure fugiat odio facilis rem quasi dolores ut ad quas quam temporibus consequatur libero, eos omnis quisquam veritatis ipsum ea. Rem veniam, natus eos possimus incidunt, perferendis officia. Voluptatibus.
        </p-->
          </div>
        </div>
      </div>
    </section>
{% endblock %}