{% extends 'base/base.html' %}
{% block content %}
    
    <section id="content">
        <div class="container">
          <div class="row">
            <div class="span12">
              <h2 class = "text-center"><br>Error 404</h4>
            </div>
            <div class="span12">
                <h4 class = text-center> La pàgina no està disponible</h4>
            </div>
        </div>
      </div>
      <div class="container">
          <div class = "row">
              <div class="span12" >
                  <p class = "text-center m4 p4">Poseu-vos amb contacte amb l'equip de suport tècnic (techlab_epsem@gmail.com) per més informació. </p>
              </div>
          </div>
      </div>
      </section>
      {% endblock %}