{% extends 'admin/base_admin.html' %}
{% block content %}
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Cancel·lar reserva</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/admin/inici">Inici</a> <i class="icon-angle-right"></i></li>
              <li class="active">Cancel·lar reserva</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
            <div class="container">
              <div class="row">
                {% block categories %}{{super()}}{% endblock %}

                <div class="span8">
                  <article>
                    <div class="row">
                      <div class="span8">
                        <div class="post-image">
                          <div class="post-heading">
                            <h3><a href="#cancelar-reserva" id="cancelar-reserva">Cancel·lar reserva d'una màquina</a></h3>
                          </div>
                        </div>
                        <form id="cancelarform" action="" method="POST" role="form" class="contactForm">
                          <div class="row">
                            <div class="form-group log-status span8 margintop10 field">
                              <span class="form-hist"><i class="fas fa-desktop"></i>&nbsp;Màquina a cancelar:</span><br>
                              <input type="text" list="maquines" name="maquina_name" autocomplete="off">
                              <datalist id="maquines">
                                {% for maquina in maquines %}
                                  <option value={{maquina[0]}}></option>
                                {% endfor %}
                              </datalist>
                            </div>
                            <div class="span8 margintop10 field form-group">
                              <span class="form-hist"><i class="far fa-calendar-alt"></i>&nbsp;Dia</span><br>
                              <input type="date" id="data" name="data">
                              <div class="validation"></div>
                            </div>
                            <div class="span8 margintop10 field form-group">
                              <span class="form-hist"><i class="fas fa-clock"></i>&nbsp;Hora</span><br>
                              <input type="time" id="hora" name = "time">
                              <div class="validation"></div>
                            </div>
                              <p>
                                <button class="btn btn-color marginleft10" type="submit">Eliminar reserva</button>
                              </p>
                            {% if msg == "Valid_form" %}
                              <div class="alert success">
                              <span class="closebtn">&times;</span>
                              <strong>Success!</strong> Reserva eliminada
                              </div>
                           {% elif error == "Invalid_form" %}
                              <div class="alert">
                              <span class="closebtn">&times;</span>
                              <strong>Error!</strong> Formulari invalid.
                              </div>
                            {% elif error == "Invalid_data" %}
                              <div class="alert">
                              <span class="closebtn">&times;</span>
                              <strong>Error!</strong> Data no valida.
                              </div>
                            {% elif error == "Invalid_email" %}
                              <div class="alert">
                              <span class="closebtn">&times;</span>
                              <strong>Error!</strong> Email invalid.
                              </div>
                            {% elif error == "Invalid_no_reserve" %}
                              <div class="alert">
                              <span class="closebtn">&times;</span>
                              <strong>Error!</strong> Cap usuari ha reservat aquestes hores.
                              </div>
                            {% endif %}
                            </div>
                          </div>
                        </form>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </section>
        <script src="/static/js/grafic-circular.js"></script>
        <script>
          setInterval("consultaAforament()", 5000)
        </script>
{% endblock %}
