<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TechLab UPC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="Manuel Angel Roman Ramos" />
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/static/css/prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="/static/css/style.css" rel="stylesheet">
  <link id="t-colors" href="/static/color/default.css" rel="stylesheet" />
</head>

<body onload="consultaAforament()">
  <div id="wrapper">
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="/client/perfil">El meu perfil</a> &#47;</li>
                <li><a href="/client/historial-client">Historial</a> &#47;</li>
                <li><a href="/client/reservar-client">Reserves</a></li>
              </ul>
            </div>
            <div class="span6">
              <ul class="social-network">
                <li><a href="https://www.facebook.com/upcmanresa" target="_blank" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/upcmanresa?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="https://www.epsem.upc.edu/ca" target="_blank" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <h1><a href="#"><i class="icon-tint"></i> TechLab UPC</a></h1>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li class="active">
                      <a href="/client/inici"><i class="fas fa-user-shield"></i>&nbsp;Inici</a>
                    </li>
                    <li><a href="/client/historial-client"><i class="fas fa-history"></i>&nbsp;Historial</a></li>
                    <li class="dropdown">
                      <a href="#"><i class="fas fa-book"></i>&nbsp;Reserves<i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="/client/reservar-client"><i class="fas fa-book"></i>Introduïr reserva</a></li>
                        <li><a href="/client/cancelar-client"><i class="fas fa-trash-alt"></i>Eliminar reserva</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#"><i class="fas fa-user"></i>&nbsp;{{session['name']}}&nbsp;<i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="/client/perfil"><i class="fas fa-user"></i>Perfil</a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Sortir</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% block content %}{% endblock content %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <div class="footer_logo">
                <h3><a href="/client/inici"><i class="icon-tint"></i> TechLab</a></h3>
              </div>
              <address>
                <strong>Universitat Politècnica de Catalunya.</strong><br>
                Av. de les Bases de Manresa, 61-73. <br>
                08242 Manresa
              </address>
              <p>
                <i class="icon-phone"></i> (+34) 93 877 72 00  <br>
                <i class="icon-envelope-alt"></i> techlabepsem21@gmail.com
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <div class="flickr_badge">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p><span>&copy; TechLab UPC. Tots els drets reservats.</span></p>
              </div>
            </div>
            <div class="span6">
              <div class="credits">
                Creat pel nostre grup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/modernizr.custom.js"></script>
  <script src="/static/js/toucheffects.js"></script>
  <script src="/static/js/google-code-prettify/prettify.js"></script>
  <script src="/static/js/jquery.prettyPhoto.js"></script>
  <script src="/static/js/portfolio/jquery.quicksand.js"></script>
  <script src="/static/js/portfolio/setting.js"></script>
  <script src="/static/js/animate.js"></script>
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/chart.js"></script>
  <script src="/static/js/chartjs-plugin-streaming.min.js"></script>
  <script src="/static/js/jquery.knob.js"></script>
  <script src="/static/js/jquery.knob.min.js"></script>
  <script src="/static/js/grafic-circular.js"></script>
  <script src="/static/js/grafic-circular.js"></script>
</body>
</html>
